@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, dark --prefersdark;

  --color-primary: #FF6A94;
}

@theme inline {
  --font-sans: var(--font-body-custom);
  --font-display: var(--font-display-custom);
}